%-*- mode: erlang -*-
{minimum_otp_vsn, "18.0"}.
{erl_opts, [
  warnings_as_errors,
  debug_info,
  {parse_transform, lager_transform}
]}.

{deps, [
    {clique, "3.0.1"},
    {lager, "3.6.1"},
    {erlcloud, "3.1.7"},
    {cuttlefish, {git,"git://github.com/kyorai/cuttlefish.git", {ref, "649cda2828ef939126a20faa5d0ee0a2ab69f9a6"}}}
]}.

{project_plugins, [{rebar_covertool, {git, "https://github.com/tsloughter/covertool.git", {branch, "master"}}},
                    rebar3_lint]}.